* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-color: white;
}

@import "compass";

@import "modules/buttons";
@import "modules/headers";
@import "pages/pages";
@import "vendor/picker";
@import "vendor/animate";

.green {
	color: green;
}

.v-aligner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.hidden {
	display:none;
}

.signin, .signup {
	margin-left: 19px;
}

.form-action-buttons {
	text-align: center;
	clear: both;
	margin-left: 10%;
}

.unstyled {
	list-style-type: none;
}

.select-resorts {
	background-color: green;
	height:40px;
}

.finish-booking {
	height:40px;
	
	cursor: pointer;
}

