* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}

@import "compass";

@import "modules/buttons";
@import "modules/headers";
@import "pages/pages";

.v-aligner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
