/*
Syntax error: Invalid CSS after "...kground-color: ": expected expression (e.g. 1px, bold), was "#green;"
        on line 2 of /Users/mgenev/Projects/angelhack_Gemini/public/sass/gemini.scss

1: /Users/mgenev/Projects/angelhack_Gemini/public/sass/gemini.scss

Backtrace:
/Users/mgenev/Projects/angelhack_Gemini/public/sass/gemini.scss:2
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:1136:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/script/lexer.rb:199:in `expected!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/script/parser.rb:471:in `assert_expr'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:1010:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:1010:in `sass_script'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:870:in `value!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:847:in `declaration'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:570:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:1110:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:1110:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:580:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:542:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:531:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:523:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:517:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:541:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:531:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:70:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.5/lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...kground-color: \": expected expression (e.g. 1px, bold), was \"#green;\"\A         on line 2 of /Users/mgenev/Projects/angelhack_Gemini/public/sass/gemini.scss\A \A 1: /Users/mgenev/Projects/angelhack_Gemini/public/sass/gemini.scss"; }
