<section data-ng-controller="ClientsController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input data-ng-model="name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="type">Type</label>
			<div class="controls">
				<input data-ng-model="type" id="type" placeholder="Type">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>