#bookingGreeting {
  background: red;

  .page-header--wrap {
    min-height: 250px;
    color: white;

    h1 {
      font-weight: 200;
      text-shadow: 0 2px 3px rgba(0,0,0, .5);
    }
  }
}

.delay-short {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}