<section data-ng-controller="BookingFlowController" data-ng-init="">
    <!-- 	<span>{{article.created | date:'medium'}}</span> /
	<span>{{article.user.name}}</span>
	<h2>{{article.title}} <a data-ng-show="global.user._id == article.user._id" href="/#!/articles/{{article._id}}/edit">edit</a></h2>
	<div>{{article.content}}</div> -->
    <div class="control-group">
        <label class="control-label" for="content">Start</label>
        <div class="controls">
            <input type="date" data-ng-model="start" id="start" placeholder="Start Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="content">End</label>
        <div class="controls">
            <input type="date" data-ng-model="end" id="end" placeholder="End Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="location">Destination</label>
        <div class="controls">
            <input type="text" data-ng-model="destination" id="destination" placeholder="Destination"></input>
        </div>
    </div>
    <div class="btn" ng-click="pickDateDestination()">Get started</div>
</section>
