<section data-ng-controller="BookingFlowController" data-ng-init="initialize()">
    <div class="pick-date-destination" ng-show="pickDateDestination">
        <div class="control-group">
            <label class="control-label" for="content">Start</label>
            <div class="controls">
                <input type="date" data-ng-model="start" id="start" placeholder="Start Date"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="content">End</label>
            <div class="controls">
                <input type="date" data-ng-model="end" id="end" placeholder="End Date"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="location">Destination</label>
            <div class="controls">
                <input type="text" data-ng-model="destination" id="destination" placeholder="Destination"></input>
            </div>
        </div>
        <div class="btn" ng-click="pickDateDestination()">Continue</div>
    </div>
    <div class="resort-list">
        <ul class="resorts unstyled">
            <li data-ng-repeat="client in clients">
                <span>{{client.name}}</span>
                <!-- <h2><a data-ng-href="#!/articles/{{article._id}}">{{article.title}}</a>
                </h2> -->
                <div>{{client.type}}</div>
                <div>{{client.address}}</div>
            </li>
        </ul>
        <h1 data-ng-hide="!clients || clients.length">No resorts match 
            <br>please pick another time/destination <a href="/#!/bookingflow/create">Create One</a>?</h1>
    </div>

</section>
