<section data-ng-controller="BookingFlowController" data-ng-init="findServices();findOneReservation()">
    <div class="servicelist">
        <ul class="resorts unstyled">
            <li data-ng-repeat="service in services" >
                <span id="{{service._id}}" ng-click="selectServices($event)">{{service.title}}</span>
            
                <div>{{service.serviceType}}</div>
                <div>{{service.content}}</div>
                <img src="{{service.thumbnailUrl}}">
            </li>
        </ul>
        <h1 data-ng-hide="!services || services.length">No resorts match
            <br>please pick another time/destination <a href="/#!/bookingflow/create">Create One</a>?</h1>
    </div>
</section>
